﻿<div class="cpw-forms-szn-vacancy">
<style>
div.cpw-forms-szn-vacancy
{
	width: 820px;
	margin: 0 auto;
}
div.cpw-forms-szn-vacancy div.row
{
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}
div.cpw-forms-szn-vacancy div.row div.title
{
	float: left;
}
div.cpw-forms-szn-vacancy div.row div.value
{
	margin-left: 20px;
}
div.cpw-forms-szn-vacancy div.row.single div.value
{
	margin-left: 5px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
div.cpw-forms-szn-vacancy div.row.single div.title
{
	width: 145px;
}
div.cpw-forms-szn-vacancy div.row.single input[type="text"]
{
	width: 70px;
}
div.cpw-forms-szn-vacancy div.single.input input[type="text"]
{
	width: 648px;
}
div.cpw-forms-szn-vacancy div.row input[type="text"]
{
	width: 774px;
}
div.cpw-forms-szn-vacancy textarea
{
	width: 772px;
}
div.cpw-forms-szn-vacancy div.title2
{
	display: inline-block;
	float:none;
	width: 442px;
	text-align: right;
	margin-right: 5px;
	*display: inline;
	zoom: 1;
}
div.cpw-forms-szn-vacancy div.title3
{
	display: inline-block;
	text-align: right;
	width: 73px;
	margin-right: 5px;
	*display: inline;
	zoom: 1;
}
div.cpw-forms-szn-vacancy select
{
	width: 400px;
}
</style>

	<div class="row single input">
		<div class="title">Профессия:</div>
		<div class="value"><input type="text" value="<%= obj.txt('Профессия') %>"/></div>
	</div>
	<div class="row single input">
		<div class="title">Квалификация:</div>
		<div class="value"><input type="text"  value="<%= obj.txt('Квалификация') %>"/></div>
	</div>
	<div class="row single">
		<div class="title">Заработная плата:</div>
		<div class="value">
			<input type="text"  value="<%= obj.txt('Заработная_плата') %>"/> рублей
			<div class="title2">Необходимое количество работников:</div>
			<input type="text"  value="<%= obj.txt('Необходимое_количество_работников') %>"/>
		</div>
	</div>
	<div class="row single input">
		<div class="title">Характер работы:</div>
		<div class="value"><input type="text"  value="<%= obj.txt('Характер_работы') %>"/></div>
	</div>
	<div class="row single">
		<div class="title">Режим работы:</div>
		<div class="value">
			<select <%= obj.select_attrs('Режим_работы') %> >
				<option <%= obj.option_attrs('') %> ></option>
				<option <%= obj.option_attrs('нормальная продолжительность рабочего времени') %> >нормальная продолжительность рабочего времени</option>
				<option <%= obj.option_attrs('ненормированный рабочий день') %> >ненормированный рабочий день</option>
				<option <%= obj.option_attrs('работа в режиме гибкого рабочего времени') %> >работа в режиме гибкого рабочего времени</option>
				<option <%= obj.option_attrs('сокращенная продолжительность рабочего времени') %> >сокращенная продолжительность рабочего времени</option>
				<option <%= obj.option_attrs('сменная работа') %> >сменная работа</option>
				<option <%= obj.option_attrs('вахтовым методом') %> >вахтовым методом</option>
			</select>
			<div class="title3">
				с 
			</div>
			<input type="text" value="<%= obj.txt('Время_работы.с') %>" /> 
			до 
			<input type="text" value="<%= obj.txt('Время_работы.до') %>" /> 
		</div>
 	</div>
	<div class="row">
		<div class="title">Профессионально - квалификационные требования, образование, дополнительные навыки, опыт работы:</div>
		<div class="value"><textarea <%= obj.textarea_attrs('Квалификационные_требования') %> ><%= 
				(!obj.model) ? '' : obj.model.Квалификационные_требования
			%></textarea></div>
	</div>
	<div class="row">
		<div class="title">Дополнительные пожелания к кандидатуре работника:</div>
		<div class="value"><textarea <%= obj.textarea_attrs('Дополнительные_пожелания') %>><%= 
				(!obj.model) ? '' : obj.model.Дополнительные_пожелания
			%></textarea></div>
	</div>
	<div class="row">
		<div class="title">Социальные гарантии работнику:</div>
		<div class="value"><textarea <%= obj.textarea_attrs('Социальные_гарантии') %>><%= 
				(!obj.model) ? '' : obj.model.Социальные_гарантии
			%></textarea></div>
	</div>
	<div class="row">
		<div class="title">По результатам конкурса на замещение вакансии:</div>
		<div class="value"><input type="text"  value="<%= obj.txt('По_результатам_конкурса') %>"/></div>
	</div>
</div>
