﻿<style>
div.cpw-forms-szn-garanties
{
	width: 500px;
	margin: 0 auto;
}
div.cpw-forms-szn-garanties label
{
	width: 100%;
	display: inline-block;
}
</style>
<div class="cpw-forms-szn-garanties">
	<label>
		<input type="checkbox" <%= obj.checkbox_attrs('Медицинские') %> />
		медицинское обслуживание
	</label>
	<label>
		<input type="checkbox" <%= obj.checkbox_attrs('Cанаторные') %> />
		санаторно-курортное обеспечение
	</label>
	<label>
		<input type="checkbox" <%= obj.checkbox_attrs('Детские') %> />
		обеспечение детскими дошкольными учреждениями
	</label>
	<label>
		<input type="checkbox" <%= obj.checkbox_attrs('Обеденные') %> />
		условия приема пищи во время перерыва
	</label>
</div>
