﻿<style>
div.cpw-forms-szn-reserve
{
	width: 600px;
	margin: 0 auto;
	align-content:center;
	align-items:center;
}
div.cpw-forms-szn-reserve input[type="text"]
{
	width: 35px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #eeeeee;
	background: #fafafa;
	font-weight: bolder;
	text-align: right;
	font-size: larger;
}

div.cpw-forms-szn-reserve div.title
{
	font-weight: bold;
	font-size: large;
	text-align: center;
}
div.cpw-forms-szn-reserve table
{
	margin: 0 auto;
}
div.cpw-forms-szn-reserve tr
{
	border-top: 1px solid #f9f9f9;
}
div.cpw-forms-szn-reserve tr:hover
{
	background-color: #fdfdfd;
}
div.cpw-forms-szn-reserve tr.head:hover
{
	background-color: white;
}
div.cpw-forms-szn-reserve tr.total
{
	border-top: 1px solid black;
}
div.cpw-forms-szn-reserve tr.head
{
	border-top: 0;
}
div.cpw-forms-szn-reserve td
{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	text-align: center;
}
div.cpw-forms-szn-reserve td.title
{
	width: auto;
	text-align: left;
	padding-left: 20px;
}
</style>
<div class="cpw-forms-szn-reserve">
	<div class="title">
		Информация о резервировании рабочих мест<br/>
		для трудоустройства граждан,<br/>
		испытывающих трудности в поиске работы
	</div>

	<table>
		<tr class="head">
			<td></td>
			<td title="Установлено резервируемых рабочих мест (ед.)">Мест</td>
			<td title="Трудоустроено на резервируемые рабочие места (с учетом ранее работающих) (чел.)">Трудоустроено</td>
		</tr>
		<tr row-title="Лица, освобожденные из учреждений, исполняющих наказание в виде лишения свободы">
			<td class="title">Освобождённые:</td>
			<td><input type="text" value="<%= obj.txt('Освобождённые.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Освобождённые.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Несовершеннолетние в возрасте от 14 до 18 лет">
			<td class="title">Несовершеннолетние:</td>
			<td><input type="text" value="<%= obj.txt('Несовершеннолетние.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Несовершеннолетние.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Лица предпенсионного возраста (за два года до наступления возраста, дающего право выхода на трудовую пенсию по старости, в том числе досрочно назначаемую трудовую пенсию по старости)">
			<td class="title">Предпенсионные:</td>
			<td><input type="text" value="<%= obj.txt('Предпенсионные.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Предпенсионные.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Беженцы и вынужденные переселенцы">
			<td class="title">Беженцы/переселенцы:</td>
			<td><input type="text" value="<%= obj.txt('Беженцы.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Беженцы.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Граждане, уволенные с военной службы, и члены их семей">
			<td class="title">Бывшие военные:</td>
			<td><input type="text" value="<%= obj.txt('Военные.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Военные.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Одинокие и многодетные родители, воспитывающие несовершеннолетних детей, детей-инвалидов">
			<td class="title">Родители:</td>
			<td><input type="text" value="<%= obj.txt('Родители.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Родители.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Граждане, подвергшиеся воздействию радиации вследствие Чернобыльской и других радиационных аварий и катастроф">
			<td class="title">Облучённые:</td>
			<td><input type="text" value="<%= obj.txt('Облучённые.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Облучённые.Трудоустроено') %>"/></td>
		</tr>
		<tr row-title="Граждане в возрасте от 18 до 20 лет, имеющие среднее профессиональное образование и ищущие работу впервые">
			<td class="title">Ищущие впервые:</td>
			<td><input type="text" value="<%= obj.txt('Впервые.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Впервые.Трудоустроено') %>"/></td>
		</tr>
		<tr class="total" row-title="Всего">
			<td class="title"><b>Всего:</b></td>
			<td><input type="text" value="<%= obj.txt('Всего.Мест') %>"/></td>
			<td><input type="text" value="<%= obj.txt('Всего.Трудоустроено') %>"/></td>
		</tr>
	</table>
</div>
