﻿<style>
div.cpw-forms-szn-quota
{
	width: 100%;
}
div.cpw-forms-szn-quota table
{
	margin: 0 auto;
}
div.cpw-forms-szn-quota input[type="text"]
{
	width: 35px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #eeeeee;
	background: #fafafa;
	font-weight: bolder;
	text-align: right;
	font-size: larger;
}
div.cpw-forms-szn-quota input.num[type="text"]
{
	width: 60px;
	text-align: center;
}
div.cpw-forms-szn-quota input.date[type="text"]
{
	width: 110px;
	text-align: center;
}
div.cpw-forms-szn-quota td
{
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 2px;
	padding-bottom: 2px;
}
div.cpw-forms-szn-quota td.title
{
	font-weight: bold;
	font-size: large;
}
div.cpw-forms-szn-quota td.input
{
	width: 40px;
}
div.cpw-forms-szn-quota td.aright
{
	text-align: right;
}
div.cpw-forms-szn-quota tr.separator
{
	height: 10px;
}
div.cpw-forms-szn-quota td.span1
{
	width: 30px;
}
div.cpw-forms-szn-quota td.span2
{
	width: 30px;
}
div.cpw-forms-szn-quota tr.h1
{
	border-top: 1px solid silver;
	margin-top: 5px;
	padding-top: 5px;
}
div.cpw-forms-szn-quota table
{
	border-collapse:collapse;
}
div.cpw-forms-szn-quota textarea
{
	width: 700px;
	height: 50px;
	margin-left: 100px;

	border-bottom: 0;
	border-right: 0;
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	background: #fafafa;
	font-weight: bolder;
	font-size: larger;
}
</style>
<div class="cpw-forms-szn-quota">
	<table class="header">
		<tr>
			<td class="title">Информация о выполнении квоты для приема на работу инвалидов&nbsp;</td>
			<td>
				№ <input class="num" type="text" value="<%= obj.txt('Отчёт.Номер') %>"/>
				от <input class="date" type="text" <%= obj.date_attrs() %>  value="<%= obj.txt('Отчёт.Дата') %>"/>
			</td>
		</tr>
		<tr>
			<td class="aright">Локальный акт о создании (выделении) рабочих мест для приёма инвалидов</td>
			<td>
				№ <input class="num" type="text" value="<%= obj.txt('Локальный_акт.Номер') %>"/>
				от <input class="date" type="text" <%= obj.date_attrs() %>  value="<%= obj.txt('Локальный_акт.Дата') %>"/>
			</td>
		</tr>
	</table>
	<b></b>

	<table>
<!--
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td>5</td>
			<td>6</td>
			<td>7</td>
			<td>8</td>
			<td>9</td>
			<td>10</td>
-->
		</tr>
		<tr class="separator"><td colspan="10"></td></tr>
		<tr class="h1">
			<td colspan="10"><b>Численность работников</b></td>
		</tr>
		<tr>
			<td class="span1"></td>
			<td><b>на начало отчетного месяца</b></td>
			<td colspan="3" class="aright">среднесписочная:</td>
			<td class="input"><input type="text" value="<%= obj.txt('Численность_работников.среднесписочная') %>"/></td>
			<td class="aright">списочная:</td>
			<td class="input"><input type="text" value="<%= obj.txt('Численность_работников.списочная') %>" /></td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="9"><b>в отчетном месяце, списочная</b> численность работников, </td>
		</tr>
		<tr>
			<td colspan="7" class="aright">условия труда которых признаны <b>вредными</b> и/или опасными:</td>
			<td><input type="text" value="<%= obj.txt('Численность_работников.с_вредностями') %>" /></td>
			<td colspan="2"></td>
		</tr>
		<tr class="separator"><td colspan="10"></td></tr>
		<tr class="h1">
			<td colspan="3">
				<b>Количество</b>
				<div style="display:inline-block;float:right;">
					<b>квотируемых</b> рабочих мест в отчетном месяце:
				</div>
			</td>
			<td class="input"><input type="text" value="<%= obj.txt('Количество_квотируемых.всего') %>"/></td>
			<td colspan="6">(установленная квота)</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="4" class="aright">в том числе, собственных:</td>
			<td><input type="text"  value="<%= obj.txt('Количество_квотируемых.собственных') %>"/></td>
			<td class="aright">арендованных:</td>
			<td><input type="text" value="<%= obj.txt('Количество_квотируемых.арендованных') %>"/></td>
			<td class="aright">специальных:</td>
			<td class="input"><input type="text" value="<%= obj.txt('Количество_квотируемых.специальных') %>"/></td>
		</tr>
		<tr class="ifarenda" style="display:<%= (obj.model 
			&& obj.model.Количество_квотируемых 
			&& obj.model.Количество_квотируемых.арендованных 
			&& ''!=obj.model.Количество_квотируемых.арендованных 
			&& '0'!=obj.model.Количество_квотируемых.арендованных)
				? 'table-row' : 'none' %>">
			<td></td>
			<td colspan="9">
				Полное наименование, ОГРН, ИНН организации - 
				<b>арендодателя</b>, 
				адрес фактического местонахождения рабочих мест:<br/>
				<textarea <%= obj.textarea_attrs('Арендодатель_рабочих_мест') %> 
					><%= (!obj || !obj.model) ? '' : obj.model.Арендодатель_рабочих_мест %><% if (0) { %>237345345, 2398734554, ООО Гефест, Пушкинская 4<% } %></textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2" class="aright"><b>работающих</b> инвалидов на конец отчетного месяца:</td>
			<td><input type="text" value="<%= obj.txt('Количество_работающих_инвалидов.всего') %>"/></td>
			<td colspan="6"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="4" class="aright">в том числе, на рабочих местах собственных:</td>
			<td><input type="text" value="<%= obj.txt('Количество_работающих_инвалидов.на_рабочих_местах.собственных') %>"/></td>
			<td class="aright">арендованных:</td>
			<td><input type="text" value="<%= obj.txt('Количество_работающих_инвалидов.на_рабочих_местах.арендованных') %>"/></td>
			<td class="aright">специальных:</td>
			<td><input type="text" value="<%= obj.txt('Количество_работающих_инвалидов.на_рабочих_местах.специальных') %>"/></td>
		</tr>
		<tr>
			<td colspan="3" class="aright"><b>Невыполненная квота</b> (квотируемые - работающие):</td>
			<td><input type="text" value="<%= obj.txt('Невыполненная_квота.всего') %>"/></td>
			<td>,</td>
			<td colspan="4" class="aright">в том числе на специальных рабочих местах:</td>
			<td><input type="text" value="<%= obj.txt('Невыполненная_квота.специальных') %>"/></td>
		</tr>
		<tr class="separator"><td colspan="10"></td></tr>
		<tr class="h1">
			<td colspan="12"><b>Количество в отчетном месяце</b></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2" class="aright"><b>вакансий</b>, заявленных в ГКУ УР ЦЗН:</td>
			<td><input type="text" value="<%= obj.txt('Вакансий.всего') %>"/></td>
			<td class="span2">,</td>
			<td colspan="4" class="aright">в том числе на специальных рабочих местах:</td>
			<td><input type="text" value="<%= obj.txt('Вакансий.специальных') %>"/></td>
		</tr>
		<tr>
			<td colspan="10"></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2" class="aright"><b>трудоустроенных</b> инвалидов:</td>
			<td><input type="text" value="<%= obj.txt('Трудоустроенных.всего') %>" /></td>
			<td>,</td>
			<td colspan="4" class="aright">из них, по направлению ГКУ УР ЦЗН:</td>
			<td><input type="text" value="<%= obj.txt('Трудоустроенных.по_направлению') %>" /></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="4" class="aright">на рабочие места: резервируемые:</td>
			<td><input type="text" value="<%= obj.txt('Трудоустроенных.на_рабочие_места.резервируемые') %>"/></td>
			<td class="aright">арендованные:</td>
			<td><input type="text" value="<%= obj.txt('Трудоустроенных.на_рабочие_места.арендованные') %>"/></td>
			<td class="aright">специальные:</td>
			<td><input type="text" value="<%= obj.txt('Трудоустроенных.на_рабочие_места.специальные') %>"/></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="2" class="aright"><b>отказов в приеме</b> инвалидов на  работу:</td>
			<td><input type="text" value="<%= obj.txt('Отказов_в_приёме_инвалидов') %>"/></td>
			<td colspan="6"></td>
		</tr>
	</table>

</div>
