﻿<style>
div.cpw-forms-szn-vacancies
{
	width: 930px;
	margin: 0 auto;
}
div.cpw-forms-szn-vacancies label.title
{
	color: silver;
}
div.cpw-forms-szn-vacancies table
{
	margin: 0 auto;
	width: 930px;
	margin-top: 10px;
}
div.cpw-forms-szn-vacancies table.properties
{
	margin: 0;
	width: auto;
	font-size:small;
}
div.cpw-forms-szn-vacancies table.properties td
{
	padding-top: 0;
	padding-bottom: 0;
}
div.cpw-forms-szn-vacancies table.properties td.title
{
	width: 230px;
	display: inline-block;
	color: silver;
	padding-left: 40px;
	padding-right: 5px;
	text-align: right;
}
div.cpw-forms-szn-vacancies table.properties tr
{
	padding: 0;
	margin: 0;
}
div.cpw-forms-szn-vacancies div.title0
{
	display: inline-block;
	color: silver;
	margin-left: 20px;
}
div.cpw-forms-szn-vacancies tr.title td
{
	text-align: center;
	font-weight: bold;
}
div.cpw-forms-szn-vacancies tbody.collection-item:hover
{
	background-color: #f9f9f9;
}
div.cpw-forms-szn-vacancies tbody.collection-item
{
	cursor: pointer;
}
div.cpw-forms-szn-vacancies tr.title td,
div.cpw-forms-szn-vacancies tr.row2 > td
{
	padding-bottom: 5px;
}
div.cpw-forms-szn-vacancies tr.row1
{
	border-top: 1px solid silver;
}
div.cpw-forms-szn-vacancies td
{
	padding: 3px;
	vertical-align: top;
}
div.cpw-forms-szn-vacancies td.col2,
div.cpw-forms-szn-vacancies td.col3
{
	text-align: right;
}
div.cpw-forms-szn-vacancies button.delete,
div.cpw-forms-szn-vacancies button.add
{
	float:right;
}
div.cpw-forms-szn-vacancies tbody.no-competition tr.competition { display: none; }
div.cpw-forms-szn-vacancies tbody.no-garanties tr.garanties { display: none; }
div.cpw-forms-szn-vacancies tbody.no-wishes tr.wishes { display: none; }
div.cpw-forms-szn-vacancies tbody.no-requirements tr.requirements { display: none; }
div.cpw-forms-szn-vacancies tbody.no-workkind tr.workkind { display: none; }
div.cpw-forms-szn-vacancies tbody.no-workmode tr.workmode { display: none; }
div.cpw-forms-szn-vacancies tbody.no-qualification tr.qualification { display: none; }
div.cpw-forms-szn-vacancies div.empty-list
{
	height:40px;
	*display: inline;
	zoom: 1;
}
div.cpw-forms-szn-vacancies div.empty-list button.add
{
	float: none;
}
div.cpw-forms-szn-vacancies div.empty-list div.empty-title
{
	width: 225px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
</style>
<div class="cpw-forms-szn-vacancies">
	
	<div class="empty-list" <%= obj.empty_attrs() %> >
		<div class="empty-title">Список вакансий пуст!</div>
		<button class="add"><span>добавить вакансию</span></button>
	</div>
	<table class="not-empty-list" <%= obj.not_empty_attrs() %> >
		<tr class="title">
			<td>Вакансии:</td>
			<td>Кол - во:</td>
			<td>Зар. плата:</td>
			<td colspan="2"><button class="add"><span>добавить вакансию</span></button></td>
		</tr>
		<% while (obj.iterate()) { %>
		<tbody <%= obj.item_attrs() %> >
			<tr class="row1">
				<td class="col1">
					<b><%= obj.text_field('Профессия') %>
						<% if (obj.is_seed()) { %>
							шуллер
						<% } %>
					<%= obj.text_field_end() %></b>
				</td>
				<td class="col2">
					<b><%= obj.text_field('Необходимое_количество_работников') %>
						<% if (obj.is_seed()) { %>
							1
						<% } %>
					<%= obj.text_field_end() %></b> чел.
				</td>
				<td class="col3">
					<b><%= obj.text_field('Заработная_плата') %>
						<% if (obj.is_seed()) { %>
							100
						<% } %>
					<%= obj.text_field_end() %></b> руб.
				</td>
				<td>
					<label class="title">Время работы с </label> 
					<%= obj.text_field('Время_работы.с') %>
						<% if (obj.is_seed()) { %>
							12:00
						<% } %>
					<%= obj.text_field_end() %>
					<label class="title"> до </label> 
					<%= obj.text_field('Время_работы.до') %>
						<% if (obj.is_seed()) { %>
							18:00
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td rowspan="2" style="width:110px;">
					<button class="delete">удалить</button>
				</td>
			</tr>
			<tr class="row2">
				<td colspan="4">
					<table class="properties">
						<tr class="workmode">
							<td class="title">Режим работы:</td>
							<td>
							<%= obj.text_field('Режим_работы') %>
								<% if (obj.is_seed()) { %>
									свободный
								<% } %>
							<%= obj.text_field_end() %> 
							</td>
						</tr>
						<tr class="qualification">
							<td class="title">Квалификация: </td> 
							<td>
							<%= obj.text_field('Квалификация') %>
								<% if (obj.is_seed()) { %>
									ас
								<% } %>
							<%= obj.text_field_end() %>
							</td>
						</tr>
						<tr class="workkind">
							<td class="title">Характер работы: </td>
							<td>
							<%= obj.text_field('Характер_работы') %>
								<% if (obj.is_seed()) { %>
									тяжёлый
								<% } %>
							<%= obj.text_field_end() %>
							</td>
						</tr>
						<tr class="requirements">
							<td class="title">Квалификационные требования: </td>
							<td>
							<%= obj.text_field('Квалификационные_требования') %>
								<% if (obj.is_seed()) { %>
									высшее образование!
								<% } %>
							<%= obj.text_field_end() %>
							</td>
						</tr>
						<tr class="wishes">
							<td class="title">Дополнительные пожелания: </td>
							<td>
							<%= obj.text_field('Дополнительные_пожелания') %>
								<% if (obj.is_seed()) { %>
									любовь к рыбалке
								<% } %>
							<%= obj.text_field_end() %>
							</td>
						</tr>
						<tr class="garanties">
							<td class="title">Социальные гарантии: </td>
							<td>
							<%= obj.text_field('Социальные_гарантии') %>
								<% if (obj.is_seed()) { %>
									любовь к рыбалке
								<% } %>
							<%= obj.text_field_end() %>
							</td>
						</tr>
						<tr class="competition">
							<td class="title">По результатам конкурса: </td>
							<td>
							<%= obj.text_field('По_результатам_конкурса') %>
								<% if (obj.is_seed()) { %>
									ало мы ищем таланты
								<% } %>
							<%= obj.text_field_end() %>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
		<% } %>
	</table>
	<%
var on_delete= function(e)
{
	e.preventDefault();
	var bitem= obj.find_binding_for_item($(this));
	var model_item= obj.model[bitem.i_item];
	var bname_Ok = 'Да';
	obj.options.h_msgbox.ShowModal({
		html: 'Вы действительно хотите удалить вакансию "' + model_item.Профессия + '" ?'
		, width: 400
		, height: 200
		, title: 'Подтверждение удаления'
		, buttons: [bname_Ok, 'Нет']
		, onclose: function (bname)
		{
			if (bname_Ok == bname)
			{
				obj.model.splice(bitem.i_item,1);
				obj.update_dom();
			}
		}
	});
};
var on_edit= function(e)
{
	e.preventDefault();
	if (!$(e.target).hasClass('delete'))
	{
		var bitem= obj.find_binding_for_item($(this));
		var model_item= obj.model[bitem.i_item];
		var title=
			"Редактирование вакансии " + model_item.Профессия + ' (' + (parseInt(bitem.i_item)+1) + '-й элемент)';

		obj.options.item_modal_controller
		(
			model_item,
			title,
			function(model_item)
			{
				obj.model[bitem.i_item]= model_item;
				obj.update_dom()
			}
		)
		.ShowModal(e);
	}
};
var on_add= function(e)
{
	e.preventDefault();
	var model_item= {};
	var title= "Добавление вакансии";

	obj.options.item_modal_controller
	(
		model_item,
		title,
		function(model_item)
		{
			if (!obj.model)
				obj.model= [];
			obj.model.push(model_item);
			obj.update_dom();
			obj.on_after_render();
		}
	)
	.ShowModal(e);
};
obj.on_after_render= (function(on_add,on_edit,on_delete)
{
	return function()
	{
		var on_delete_handler= {click:on_delete};
		$(obj.form_div_selector + ' button.delete').off(on_delete_handler).on(on_delete_handler);

		var on_edit_handler= {click:on_edit};
		$(obj.form_div_selector + ' tbody.collection-item').off(on_edit_handler).on(on_edit_handler);

		var on_add_handler= {click:on_add};
		$(obj.form_div_selector + ' button.add').off(on_add_handler).on(on_add_handler);
	}
})
(on_add,on_edit,on_delete);
	%>
</div>
