﻿<style>
div.cpw-forms-szn-need
{
	width: 930px;
	margin: 0 auto;
}
div.cpw-forms-szn-need table.head td.title
{
	padding-right: 5px;
	padding-bottom: 5px;
	width: 235px;
	vertical-align: top;
}
div.cpw-forms-szn-need table.head input
{
	width: 700px;
}
div.cpw-forms-szn-need h4
{
	font-size: 16px;
}
.ui-dialog div.ui-dialog-buttonpane .ui-dialog-buttonset
{
	width: auto;
}
.ui-dialog div.ui-dialog-buttonpane .ui-dialog-buttonset .ui-button
{
	float: none;
}
</style>
<div class="cpw-forms-szn-need">
	<h4>Сведения о потребности в работниках, наличии свободных рабочих мест (вакантных должностей)</h4>
	<table class="head">
		<tr>
			<td class="title">Форма собственности:</td>
			<td>
				<select <%= obj.select_attrs('Форма_собственности') %> >
					<option <%= obj.option_attrs('государственная') %> >государственная</option>
					<option <%= obj.option_attrs('муниципальная') %> >муниципальная</option>
					<option <%= obj.option_attrs('частная') %> >частная</option>
				</select>
				&nbsp;&nbsp;&nbsp;Численность работников: 
				<input type="text" value="<%= obj.txt('Численность_работников') %>" style="width:100px;">
			</td>
		<tr>
		<tr>
			<td class="title">Проезд:</td>
			<td><input type="text" value="<%= obj.txt('Проезд') %>" ></td>
		<tr>
		<tr>
			<td class="title">Соц.гарантии работникам:</td>
			<td>
				<a href="#" <%= obj.a_modal_attrs('Социальные_гарантии') %> >Не указаны</a>
			</td>
		<tr>
		<tr>
			<td class="title">Иные условия:</td>
			<td><input type="text" value="<%= obj.txt('Иные_условия') %>" ></td>
		<tr>
	</table>

	<%= obj.control('Вакансии') %>
</div>
