﻿<div>
<style>
	div.szn-quota-profiled div.data1
	{
	    margin-left: 30px;
	    font-weight: bold;
	}
	div.szn-quota-profiled div.data
	{
	    margin-left: 30px;
	}
	div.szn-quota-profiled
	{
		width:900px;
		margin:0 auto;
	}
	div.szn-quota-profiled div.data div.row.single div
	{
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	div.szn-quota-profiled div.data div.row.single div.data1
	{
		margin-left: 5px;
	}
	div.szn-quota-profiled div.data div.row.single div.header2
	{
		margin-left: 10px;
	}
</style>
<div class="szn-quota-profiled">
	<div class="data">
		<div class="row">
			<div class="header1">Наименование отправителя отчёта:</div>
			<div class="data1">
				"<%= (!obj || !obj.form || !obj.form.Абонент || !obj.form.Абонент.Наименование) ? '' : obj.form.Абонент.Наименование %><%if (0) { %>Роги и ноги<% } %>"
			</div>
		</div>
		<div class="row single">
			<div class="header2">Работодатель (его представитель):</div>
			<div class="data1">
				"<%= (!obj || !obj.form || !obj.form.Абонент || !obj.form.Абонент.Представитель_работодателя) ? '' : obj.form.Абонент.Представитель_работодателя %><%if (0) { %>Самый С С<% } %>"
			</div>
		</div>
		<div class="row single">
			<div class="header2">Организационно-правовая форма юридического лица:</div>
			<div class="data1">
				"<%= (!obj || !obj.form || !obj.form.Абонент || !obj.form.Абонент.ОКОПФ) ? '' : obj.form.Абонент.ОКОПФ.name %><%if (0) { %>3278786<% } %>"
			</div>
		</div>
		<div class="row single">
			<div class="header2">Вид экономической деятельности (по ОКВЭД):</div>
			<div class="data1">
				"<%= (!obj || !obj.form || !obj.form.Абонент || !obj.form.Абонент.ОКВЭД) ? '' : obj.form.Абонент.ОКВЭД %><%if (0) { %>3278786<% } %>"
			</div>
		</div>
		<div class="row single">
			<div class="header1">Период отчётности:</div>
			<div class="data1">
				"<%= (!obj || !obj.form || !obj.form.Отчёт || !obj.form.Отчёт.За) ? '' : obj.text_report_period(obj.form.Отчёт.За)  %><%if (0) { %>мартабрь 2117<% } %>"
			</div>
		</div>
	</div>
</div>
</div>